*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
	color:inherit;
}
.content{
	width: 1224px;
	margin: 0 auto;
}
.headnav{
	width: 100%;
}
.headbanner{
	padding-top: 45px;
	width:100%;
	height:191px;
	background:#f9f9f9;
}
.indesingworks{    
	width: 376px;
	height: 191px;
	background: url(../img/headbanner.png) no-repeat;
	margin:0 auto;
}
.Navigation{
	float: left;
	width: 100%;
}
.Navigationnavyilhui{
	float: left;
	height: 64px;
	border-top: solid 1px #E0E0E0;
	border-bottom: solid 1px #E0E0E0;
}
.Navigationlist{
	font-family: "微软雅黑";
	font-size: 16px;
	float: left;
	padding:0 36px;
	margin:20px 0;
	border-left: solid 1px #e0e0e0;
}
.Navigationlist2{
	padding-left: 0;
	border-left: none;
}
.prname{
	float:left;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 22px;
	line-height: 64px;
}
.icon{
	float: left;
	width: 17px;
	height: 25px;
	background:url(../img/photo.png);
	margin-left: 20px;
	margin-top: 20px;
}
.prnav{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 64px;
	margin-left: 870px;
	
}
.navlist{
	float: left;
	padding:0 18px;
}
.projectbackground{
	margin-top: 189px;
	width: 100%;
}
.titlename{
	width: 300px;
	height: 131px;
	margin: 0 auto;
	background: url(../img/prbackground.png);
}
.iconpho{
	padding:70px 0;
	width: 342px;
	height: 144px;
	margin: 0 auto;
}
.iconpho1{
	float: left;
	width: 144px;
	height: 144px;
	margin-left: 26px;
	background: url(../img/icon.png)no-repeat;
}
.iconpho2{
	float: left;
	width: 144px;
	height: 144px;
	margin-left:28px;
	background: url(../img/icon2.png)no-repeat;
}
.introducetext{
	width: 961px;
	height: 66px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: lighter;
	color: #333;
}
.Projectspecification{
	width: 100%;
	margin-top: 118px;
}
.titlename2{
	width: 300px;
	height: 131px;
	margin: 0 auto;
	background: url(../img/background2.png);
}
.fontpec{
	width: 558px;
	margin: 0 auto;
}
.title1{
	width:146px;
	float: left;
	position: relative;
}
.title2{
	width:146px;
	float: left;
	padding-left: 60px;
	position: relative;
}
.title3{
	width:146px;
	float: left;
	padding-left: 60px;
	position: relative;
}
.title1cont{
	font-family: "微软雅黑";
	font-weight: lighter;
	font-size: 36px;
	color: #333333;
	padding-top: 50px;
}
.title1cont2{
	font-size: 30px;
	text-align: center;
}
.title1cont3{
	font-size: 22px;
	color: #999;
	text-align: center;
}
.titlecircular{
	display:inline-block;
	margin:0 auto;
    border-radius:50px; /* 圆形边缘弧度 */
    width:3px; /* 宽度 */
    height:3px; /* 高度 */
    background-color: red;
    position: absolute;
    left:80px;
    top: 110px;
}	
.titlecirtagging{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999;
	padding-top: 35px;
	padding-bottom: 7px;
	margin-left: 50px;
}
.titlecircular2{
	left: 140px;
}
.titlecirtaggingsize{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999999;
	margin-left: 64px;
}
.linepec{
	float: left;
	width: 458px;
	padding: 25px 0;
	margin-top: 70px;
	margin-left:400px ;
	border-top: solid 1px #e0e0e0;
}
.linepectext{
	font-family: "微软雅黑";
	font-size:14px;
	color: #999;
	text-align: center;
}
.linepectext2{
	padding-top: 10px;
}
.corlorpec{
	float: left;
	width: 558px;
	margin-left:400px ;
}
.corlorpec1{
	float: left;
}
.corlorpecimg{
	width: 77px;
	height: 77px;
	background: url(../img/color.png) no-repeat;
}
.corlorpecimg2{
	width: 77px;
	height: 77px;
	margin-left: 125px;
	background: url(../img/color1.png) no-repeat ;
}
.corlorpecimg3{
	width: 77px;
	height: 77px;
	margin-left: 125px;
	background: url(../img/color2.png) no-repeat ;
}
.corlorpectext{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999;
	margin-left: 10px;
	padding-top: 10px;
}
.corlorpectext2{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999;
	margin-left: 140px;
	padding-top: 10px;
}
.titlename3{
	background: url(../img/background3.png) no-repeat;
	margin: 0 auto;
}
.projecticon{
	margin-top: 118px;
	width: 1224px;
	float: left;
}
.projecticonbox{
	width: 753px;
	height: 543px;
	margin: 0 auto ;
	padding-top: 30px;
}
.projecticon1{
	float: left;
	width: 361px;
	height: 332px;
}
.projecticon1text{
	font-family: "微软雅黑";
	font-size: 12px;
	padding: 16px 0;
}
.projecticon1icon{
	float: left;
	width: 361px;
	height: 293px;
	background: url(../img/首页图标.png) no-repeat;
}
.projecticon1icon2{
	float: left;
	width: 361px;
	height: 293px;
	background: url(../img/navicon.png) no-repeat;
}
.projecticon2{
	float: left;
	width: 361px;
	height: 332px;
	margin-left: 20px;
}
.projecticon3{
	float: left;
	width: 365px;
	height: 160px;
	margin-top: 20px;
}
.projecticon1icon3{
	width: 365px;
	height: 127px;
	background: url(../img/titleicon.png) no-repeat;
}
.projecticon4{
	float: left;
	width: 365px;
	height: 160px;
	margin-top: 20px;
	margin-left: 20px;
}
.projecticon1icon4{
	width: 365px;
	height: 127px;
	background: url(../img/titleicon.png) no-repeat;
}
.titlename4{
	background: url(../img/background4.png) no-repeat;
}
.Projectshipment{
	float: left;
	width: 100%;
	padding-top: 96px;
}
.homepage{
	width: 1224px;
	height: 724px;
	margin-top: 70px;
	background: url(../img/home.png) no-repeat;
}
.mode1{
	width: 1224px;
	float: left;
	margin-top: 80px;
}
.mode1title{
	float: left;
	width: 1224px;
	padding-bottom:60px;
}
.pagenum{
	float: left;
	font-family: arial;
	font-weight: bold;
	font-size: 28px;
	color: #999;
	padding-top: 5px;
}
.pagename{
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 28px;
	margin-left: 20px;
}
.mode1page{
	float: left;
}
.page1{
	float: left;
	text-align: center;
}
.page1img{
	float: left;
	width:240px;
	height: 500px;
	margin-top: 230px;
	margin-left: 90px;
	background: url(../img/page1.png) no-repeat;
}
.page1name{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999;
	margin-left: 84px;
}
.page2{
	float: left;
	padding: 0 150px;
}
.page2img{
	width: 340px;
	height: 700px;
	background: url(../img/page3.png) no-repeat;
	margin-top:100px ;
}
.page2name{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999;
	text-align: center;
	margin-top: 10px;
}
.page3{
	float: left;
}
.page3img{
	width: 240px;
	height: 500px;
	margin-top: 230px;
	background: url(../img/page2.png) no-repeat;
}
.page3name{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999;
	margin-left: 74px;
}
.box_abroad{
	width: 300px;
	height: 580px;
	overflow: hidden;
	margin: 160px auto 0;
}
.box_within{
	margin-top: 80px;
	width: 320px;
    height: 562px;
    overflow-y: scroll;
}
.pagesecond1{
	background: url(../img/fabu.png) no-repeat;
}
.pagesecond3{
	background: url(../img/qiugou.png) no-repeat;
}
.pagesecond2{
	background: url(../img/二手房详情.png) no-repeat;
}
.pagesecond11{
	background: url(../img/baoxiu.png) no-repeat;
}
.pagesecond22{
	background: url(../img/wuye.png) no-repeat;
}
.pagesecond33{
	background: url(../img/gogngao.png) no-repeat;
}
.pagesecond111{
	background: url(../img/chuanshangyongping.png)) no-repeat;
}
.pagesecond222{
	background: url(../img/hezuoshanghu.png) no-repeat;	
}
.pagesecond333{
	background: url(../img/zhekou.png) no-repeat;
}
.pagesecond1111{
	background: url(../img/daijingquan.png) no-repeat;	
}
.pagesecond2222{
	background: url(../img/会员中心.png) no-repeat;
}
.pagesecond3333{
	background: url(../img/kefu.png) no-repeat;
}
.foot{
	margin-top: 50px;
	float:left;
	width: 100%;
	height: 60px;
	font-family: arial;
	font-size: 24px;
	text-align: center;
	line-height: 60px;
	color: #333;
	background: #fafafa;
}
.Backtop{
	float: left;
	margin-top: 13PX;
	margin-left: 20PX;
	width: 34px;
	height: 34px;
	background: url(../img/返回顶部.png) no-repeat;
}
.end{
	float: left;
	padding-left: 600PX;
}
.navfixd{
	background: #fff;
	position:fixed;
	top: 0;
}
